<div ng-controller="MultaController as vm">

	<filter search="vm.pesquisar(vm.busca)" clear="vm.limpar()">
		<div class="row">			
			<div class="form-group col-sm-6">
				<label for="Cliente">Cliente</label>
				<ui-select class="ui-select-bootstrap" id="Cliente" theme="bootstrap" ng-model="vm.busca.Cliente">
					<ui-select-match placeholder="Selecione">
						{{ $select.selected.NomeCompleto }}
					</ui-select-match>
					<ui-select-choices repeat="item in (vm.clientes | filter: $select.search)">
						{{ item.NomeCompleto }}
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
	</filter>

	<div class="box">
		<div class="box-header with-border" style="padding: 10px !important;">
			<h3 class="box-title"><b>Pagamento de Multas</b></h3>
		</div>
		<div class="box-body">
			<div class="table-responsive" ng-show="vm.multas && vm.multas.length > 0">
				<table class="table table-condensed table-hover table-bordered text-center datatable">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Data Pagamento</th>
							<th>Valor</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.multas | orderBy: 'NomeCompleto'">
							<td>{{ item.Cliente.NomeCompleto | ellipsis : 70 : true }}</td>						
							<td>{{ item.DataCadastro | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
							<td>{{ item.Valor | currency:"R$ ":2 }}</td>							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
